<mat-grid-list cols="1" *ngIf="!blog; else divBlog ">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divBlog>
  

<div fxLayout="row"
     fxLayout.xs="column"
     fxLayoutGap="30px">

     <div fxFlex="50">
       <h1>{{blog.title}}</h1>
       <p>{{blog.description}}</p>
       <mat-divider></mat-divider>
        <br>
        <img [src]=blog|imagen> 
     </div>
     <div fxFlex="50">
        <h1>{{blog.publishedAt}}</h1>
       <mat-divider></mat-divider>
       <mat-list>
        <mat-list-item>{{blog.content}}</mat-list-item>
       </mat-list>
       
       <br>
       <button mat-button 
               color="warn"
               (click)="regresar()">
        Regresar
       </button>
     </div>
</div>

</ng-template>
