<h1>
    {{ (blog.id)?'Editar':'Nuevo' }}
    Blog
    <small>{{blog.title}}</small>




<div fxLayout="row"
     fxLayoutGap="40px"
     fxLayout.xs="column">

    <div fxFlex="50" fxLayout="column">
        
         <mat-form-field fxFlex="100" fxLayout.xs="column" >
                <mat-label>Titulo</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="blog.title"
                       required>
            </mat-form-field>
    
            <mat-form-field fxFlex="100">
                <mat-label>Descripción</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="blog.description"
                       required>
            </mat-form-field>


        <mat-form-field>
            <mat-label>Contenido</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="blog.content"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Url</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="blog.url"
                   required>
        </mat-form-field>
 

        <mat-form-field>
            <mat-label>Foto Url</mat-label>
            <input matInput
                   type="url"
                   [(ngModel)]="blog.image"
                   required>
        </mat-form-field>

        <br>


        <div fxLayout>
            <button mat-raised-button 
                    color="primary"
                    (click)="guardar()">
                <mat-icon>edit</mat-icon>
                {{ ( blog.id )? 'Actualizar' : 'Crear' }}
            </button>
        
            <span class="spacer"></span>

            <button *ngIf="blog.id"
                    mat-raised-button
                    (click)="borrarBlog()"
                    color="warn">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>


    </div>
<!---->
    <div fxFlex="50">
        <img [src]="blog | imagen">
    </div>

</div>