 <!---->
<mat-sidenav-container fullscreen color="primary">
    <!--   <mat-sidenav #sidenav mode="push">
      <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button
            (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>      
        </mat-toolbar>
 
        <mat-nav-list>
            <a routerLink="./listado"
               mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon>label</mat-icon>
                <span>Blogs</span>
            </a> 
        </mat-nav-list>



    </mat-sidenav>
--> 

    <mat-toolbar>
      <!--  <button mat-icon-button
        (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>    -->
        <span class="spacerlogo"></span>
        <img width="160" src="assets/logo.svg" />
        <span class="spacer"></span>
       <button mat-raised-button 
                color="primary"
                (click)="login()">
            Ingresar
        </button>
    </mat-toolbar>


    <div class="container">
         <router-outlet></router-outlet>
    </div>
   


 </mat-sidenav-container>
 
