/* You can add global styles to this file, and also import other style files */
 

/*nuevos*/
html, body { width: 100%; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar {
    background: #fff;
    color: black;
    --tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}

.mat-drawer-container {
    background: #fff;
    color: black;
}   
.spacer {
    flex: 1 1 auto;
}

.spacerlogo {
    padding: 0px 10px;
}

.mat-card {
    background: #fff;
    color: black;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color:#1f1c1cb3;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color:#1f1c1cb3;
}